* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.content-wrapper {
  padding: 10px 15%;
}

::placeholder {
  color: #767676;
  font-size: 14px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.main-btn {
  position: relative;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  color: #111;
  background: #0f8ec5;
  border: 2px solid #111;
  z-index: 1;
  transition: 0.5s;
}

.main-btn:hover {
  color: #fff;
  background: #0f8ec5;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(1);
}

.main-btn:hover::before {
  transform-origin: right;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}
