*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.content-wrapper {
    padding: 10px 15%;    
}

::placeholder {
    color: #767676;
    font-size: 14px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

ul li{
    list-style: none;
}

@media (max-width: 860px) {
    .content-wrapper {
        padding: 10px 0;
    }
}
